# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [1]:
my_list = [i for i in range(1, 11)]
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [2]:
my_tuple = ("apple", "banana", "cherry")
my_tuple

('apple', 'banana', 'cherry')

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3
```

In [3]:
numbers = [10, 20, 30, 40]
my_tuple = tuple(numbers)
my_tuple

(10, 20, 30, 40)

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4
```

In [8]:
my_ensemble = [1, 2, 3, 4, 5]
my_set = set(my_ensemble)
my_set

{1, 2, 3, 4, 5}

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5
```

In [9]:
my_dict = {"name": "Alice", "age": 20, "grade": "A"}
my_dict

{'name': 'Alice', 'age': 20, 'grade': 'A'}

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6
```

In [10]:
my_list = [10, 20, 30, 40, 50]
my_list[1]

20

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python
# Exercise 7
```

In [11]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
fruits

['apple', 'banana', 'mango', 'orange']

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8
```

In [18]:
numbers = {1, 2, 3, 4, 5}
numbers = list(numbers)
numbers.append(6)
numbers = set(numbers)
numbers

{1, 2, 3, 4, 5, 6}

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9
```

In [19]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]
person

{'name': 'John', 'city': 'New York'}

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10
```

In [20]:
starting = [i for i in range(10)]
starting

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11
```

In [21]:
list_comprehension = [i**2 for i in range(1, 11)]
list_comprehension

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12
```

In [22]:
my_tuple_cpmprehension = tuple([i for i in range(1, 11) if i%2 == 0])
my_tuple_cpmprehension

(2, 4, 6, 8, 10)

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13
```

In [23]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14
```

In [25]:
numbers = {1, 2, 3, 4, 5}
3 in numbers

False

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15
```

In [26]:
numbers = (10, 20, 30)
len(numbers)

3

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16
```

In [27]:
scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

---

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python
# Exercise 17
```

In [29]:
def somme(my_list):
    sum_list = 0
    for i in my_list:
        sum_list += i
    return sum_list

my_list = [10, 20, 30, 40, 50]
somme(my_list)

150

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18
```

In [31]:
numbers = [1, 2, 2, 3, 4, 4, 5]
numbers = set(numbers)
numbers

{1, 2, 3, 4, 5}

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19
```

In [32]:
my_string = "hello"
my_list = []
for i in my_string:
    my_list.append(i)
my_list

['h', 'e', 'l', 'l', 'o']

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20
```

In [35]:
def reverse_tuple(my_tuple):
    my_list = list(my_tuple)
    my_list_1 = []
    for i in range(1, len(my_list) + 1):
        my_list_1.append(my_list[-i])
    return tuple(my_list_1)

my_tuple = (1, 2, 3, 4)
reverse_tuple(my_tuple)

(4, 3, 2, 1)

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21
```

In [37]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22
```

In [42]:
my_keys_list = [i for i in range(1, 6)]
my_values_list = [i**2 for i in range(1, 6)]
my_dict = {}
for i in range(len(my_values_list)):
    my_dict[my_keys_list[i]] = my_values_list[i]
my_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23
```

In [43]:
my_dict = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
for i in my_dict.items():
    print(i)

(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24
```

In [1]:
liste = [chr(i) for i in range(ord("A"), ord("A") + 5)]
liste

['A', 'B', 'C', 'D', 'E']

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25
```

In [11]:
mon_tuple = zip([1, 2, 3], ["a", "b", "c"])
type(mon_tuple)
for i in mon_tuple:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26
```

In [12]:
liste = [10, 20, 30, 40, 50]
liste.index(50)

4

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27
```

In [15]:
names = ["Alice", "Bob", "Charlie", "David"] 
names.sort()
names

['Alice', 'Bob', 'Charlie', 'David']

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28
```

In [16]:
def plus_grand_nombre(liste):
    liste.sort()
    return liste[-1]

# Example teste

liste = [12, 354, 987, 34, 23]
plus_grand_nombre(liste)

987

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29
```

In [17]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30
```

In [18]:
dictionnaire = {"nom": "Alice", "âge": 25, "ville": "New York"}
dictionnaire["ville"]

'New York'

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31
```

In [28]:
def supprime_doublons(liste):
    mon_set = set(liste)
    liste = list(mon_set)
    return liste

# Example teste

liste = [2, 2, 3, 4, 3, 4, 5, 6, 6, 7]
supprime_doublons(liste)

[2, 3, 4, 5, 6, 7]

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32
```

In [29]:
def intersection_deux_listes(liste_1, liste_2):
    liste = []
    for i in liste_1:
        if i in liste_2:
            liste.append(i)
    liste = supprime_doublon(liste)
    liste.sort()
    return liste

# Example teste

liste_1 = [1,2,3,5,8,7,5,3]
liste_2 = [5,7,8,9,0,3]
intersection_deux_listes(liste_1, liste_2)

[3, 5, 7, 8]

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33
```

In [30]:
def generateur_carre_1_10():
    return [i**2 for i in range(1, 11)]
        
# Example teste

generateur_carre_1_10()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34
```

In [32]:
def somme_valeurs_dictionnaire(dictionnaire):
    somme = 0
    for i in dictionnaire.values():
        somme += i
    return somme

# Example teste

dictionnaire = {"a": 10, "b": 20, "c": 30}
somme_valeurs_dictionnaire(dictionnaire)

60

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35
```

In [34]:
liste = [3, 1, 4, 1, 5, 9]
liste = sorted(liste)
liste

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36
```

In [36]:
def plus_longue_chaine_liste(liste_chaines):
    liste = []
    for i in liste_chaines:
        liste.append(len(i))
    liste = sorted(liste)
    longueure_max = liste[-1]
    for i in liste_chaines:
        if len(i) == longueure_max:
            return i # Dans le cas où on a peur d'avoir des chaines qui ont la même taille. On utilise "print(i)" au lieu de "return i"  


# Example teste

liste_chaines = ["Les programmeurs d'élites", "La cryptographie la science par excellence", "Codez, codez, codez, ne dormez pas, ne vous reposez pas, il faut coder"]
plus_longue_chaine_liste(liste_chaines)

'Codez, codez, codez, ne dormez pas, ne vous reposez pas, il faut coder'

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37
```

In [37]:
all(i > 0 for i in [1, 2, 3, 4, 5])

True

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38
```

In [38]:
liste_tuple = [(i, i**2) for i in range(1, 6)]
liste_tuple

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39
```

In [39]:
def retourne_liste_deuxieme_element_tuple_liste_tuples(liste_tuples):
    liste = []
    for i in liste_tuples:
        liste.append(i[1])
    return liste

# Example teste
liste_tuples =

[1, 4, 9, 16, 25]

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40
```

In [43]:
def applatit_liste_de_liste(liste_de_liste):
    liste = []
    for i in liste_de_liste:
        for j in i:
            liste.append(j)
    return liste

# Example teste
liste_de_liste = [[1, 1], [2, 4,], [3, 9], [4, 16], [5, 25]]
applatit_liste_de_liste(liste_de_liste)

[1, 1, 2, 4, 3, 9, 4, 16, 5, 25]

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41
```

In [49]:
liste = ["apple", "banana", "cherry"]
tuple_index_element_liste = enumerate(liste)
for i in tuple_index_element_liste:
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42
```

In [50]:
def teste_tuple_vide(mon_tuple):
    if len(mon_tuple) == 0:
        return 0 # Tuple vide
    else:
        return 1 # Le tuple n'est pas vide

# Example teste

mon_tuple = ()
if teste_tuple_vide(mon_tuple) == 0:
    print("<< Tuple vide >>")
else:
    print("<< Le tuple n'est pas vide >>")

<< Tuple vide >>

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43
```

In [53]:
liste_nombres_pairs_1_20 = [i for i in range(0, 21, 2) if i != 0]
liste_nombres_pairs_1_20

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44
```

In [66]:
def ordre_inverse_liste(liste):
    liste_1 = liste
    liste_1.reverse()
    return liste_1


# Example teste

liste = [23, 56, 7, 8, 34]
ordre_inverse_liste(liste)

[34, 8, 7, 56, 23]

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45
```

In [67]:
dictionnaire = {i: i**3 for i in range(1, 6)}
dictionnaire

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46
```

In [68]:
liste = [1, 2, 2, 3, 4, 4, 5]
liste = list(set(liste))
liste

[1, 2, 3, 4, 5]

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47
```

In [78]:
# Écrire une fonction Python qui prend une liste de dictionnaires et renvoie une liste de valeurs pour une clé donnée.

def ma_fonction(liste_dictionnaires):
    liste_cles = []
    for dictionnaire in liste_dictionnaires:
        for cle in dictionnaire.keys():
            if cle not in liste_cles:
                liste_cles.append(cle)
    mon_dict = {}
    for cle in liste_cles:
        liste_valeurs = []
        for dictionnaire in liste_dictionnaires:
            if cle in dictionnaire.keys():
                liste_valeurs.append(dictionnaire[cle])
        mon_dict[cle] = liste_valeurs

    print(f"Voici la liste des clés: {liste_cles}")
    cle_entre = input("Entrer une clé: ")
    while cle_entre not in liste_cles:
        print(f"Voici la liste des clés: {liste_cles}")
        cle_entre = input("Entrer une clé: ")
    return mon_dict[cle_entre]
        
# Example teste

liste_dictionnaires = [{"a": 12, "b": 34, "c": 8}, {"a": 2, "b": 10, "c": 5}, {"a": 0, "b": -7, "c": -17, "d": 56}]
ma_fonction(liste_dictionnaires)

Voici la liste des clés: ['a', 'b', 'c', 'd']

Entrer une clé:  b

[34, 10, -7]

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48
```

In [117]:
def Fibonacci(n):
    if n <= 1:
        print("Propriété: le paramètre doit être supérieur ou égal à 2 (n ≥ 2) pour obtenir suite de Fibonacci.")
        return 0
    liste = [0, 1]
    i = len(liste)
    while i <= n:
        liste.append(liste[-1] + liste[-2])
        i = len(liste)
    del liste[-1]
    return liste


# Example teste

n = 15
Fibonacci(n)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49
```

In [85]:
def caracteres_uniques(chaine):
    liste = []
    for i in chaine:
        if chaine.count(i) == 1:
            liste.append(i)
    return liste

# Example teste

chaine = "Les programmeurs d'AIMS"
caracteres_uniques(chaine)

['L', 'p', 'o', 'g', 'a', 'u', 'd', "'", 'A', 'I', 'M', 'S']

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50
```

In [86]:
def fusionne_listes(liste_1, liste_2):
    liste_1 = sorted(liste_1)
    liste_2 = sorted(liste_2)
    liste = sorted(liste_1 + liste_2)
    return liste

# Example teste

liste_1 = [12, 4, 6]
liste_2 = [1,4,2,8]
fusionne_listes(liste_1, liste_2)

[1, 2, 4, 4, 6, 8, 12]

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51
```

In [90]:
def filtrer_nombres_impairs(nombre):
        return nombre%2 != 0

########################################

liste = list(filter(filtrer_nombres_impairs, [1, 2, 3, 4, 5, 6]))
liste

[1, 3, 5]

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52
```

In [91]:
def convertir_liste_tuples_en_dictionnaire(liste_tuples):
    dictionnaire = {}
    for i in liste_tuples:
        dictionnaire[i[0]] = i[1]
    return dictionnaire
    
####################################

liste_tuples = [(1, 2), (3, 4), (5, 6)]
convertir_liste_tuples_en_dictionnaire(liste_tuples)

{1: 2, 3: 4, 5: 6}

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53
```

In [95]:
def difference_symetrique(set_1, set_2):
    return set_1 ^ set_2

###################################

set_1 = {23,45, 56, 98}
set_2 = {56, 98, 2, 4}
difference_symetrique(set_1, set_2)

{2, 4, 23, 45}

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54
```

In [98]:
def elements_communs(liste_1, liste_2, liste_3):
    liste = []
    for i in liste_1:
        if i in liste_2 and i in liste_3:
            liste.append(i)
    return liste

#############################

liste_1 = [2, 23, 45, 56, 98, 4]
liste_2 = [56, 98, 2, 4]
liste_3 = [2, 5, 3, 0, 4]
elements_communs(liste_1, liste_2, liste_3)

[2, 4]

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55
```

In [103]:
def factoriel(n):
    if n == 0:
        return 1
    else:
        return n*factoriel(n-1)
        
#########################

n = 4
factoriel(n)

24

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56
```

In [105]:
liste = ["apple", "", "banana", "", "cherry"]
liste_1 = []
for i in range(len(liste)):
    if len(liste[i]) != 0:
        liste_1.append(liste[i])

liste_1

['apple', 'banana', 'cherry']

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57
```

In [106]:
def intervertir_cles_valeurs(dictionnaire):
    dictionnaire_1 = {}
    for cle in dictionnaire.keys():
        dictionnaire_1[dictionnaire[cle]] = cle
    return dictionnaire_1


# Example teste

dictionnaire = {"a": 12, "b": 34, "c": 8}
intervertir_cles_valeurs(dictionnaire)

{12: 'a', 34: 'b', 8: 'c'}

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58
```

In [108]:
def liste_nombres_pairs(liste):
    return [i for i in liste if i%2 == 0]

# Example teste

liste = [23, 34, 54, 5, 2, 6578, 763, 121]
liste_nombres_pairs(liste)

[34, 54, 2, 6578]

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59
```

In [109]:
def fonction_liste_tuples(liste_tuples):
    liste = []
    for i in liste_tuples:
        liste.append(i[0])
    return liste

    # Example teste

liste_tuples = [(2,4), (35, 0), (33, 1)]
fonction_liste_tuples(liste_tuples)

[2, 35, 33]

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60
```

In [110]:
def supprimer(liste):
    liste_1 = []
    for i in liste:
        if i not in liste_1:
            liste_1.append(i)
    return liste_1

# Example reste

liste = [1,1,0,0,5,5,5,2,2,2]
supprimer(liste)

[1, 0, 5, 2]

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61
```

In [113]:
def longueure_chaine(chaine):
    return len(chaine)

###########################
liste_chaines = ["Les programmeurs d'AIMS", "Le codeur d'élite", "L'expert en python"]
liste_longueure_chaines = list(map(longueure_chaine, liste_chaines))
liste_longueure_chaines

[23, 17, 18]

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62
```

In [115]:
def moyenne(liste_nombres):
    a = 0
    for i in liste_nombres:
        a += i
    return a/len(liste_nombres)

# Example teste

liste_nombres = [12, 15, 17]
moyenne(liste_nombres)

14.666666666666666

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63
```

In [118]:
def Fibonacci_1(n):
    if n <= 1:
        print("Propriété: le paramètre doit être supérieur ou égal à 2 (n ≥ 2) pour obtenir suite de Fibonacci.")
        return 0
    liste = [0, 1]
    i = len(liste)
    while i <= n:
        liste.append(liste[-1] + liste[-2])
        i = len(liste)
    del liste[-1]
    return liste

    
# Example teste
n = 10
Fibonacci_1(n)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64
```

In [120]:
liste = ["apple", "banana", "apple", "cherry"]
dict_occurence_element_liste = {}
for i in liste:
   dict_occurence_element_liste[i] = liste.count(i)
dict_occurence_element_liste

{'apple': 2, 'banana': 1, 'cherry': 1}

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65
```

In [122]:
def supprime_occurence(element, occurence, liste):
    a = 0
    while a < occurence - 1:
        del liste[liste.index(element)]
        a += 1
    return liste

# Example teste
liste = [1,2,2,2,2]
supprime_occurence(2, 4, liste)

[1, 2]

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66
```

In [125]:
def listes_commencant_par_une_voyelle(liste_chaines):
    liste = []
    chaine_voyelles = "iuoaey"
    for i in liste_chaines:
        if i[0].lower() in chaine_voyelles:
            liste.append(i)
    return liste

# Example teste

liste_chaines = ["apple", "banana", "Ananas", "Algèbre", "Urologie", "Medecine", "Ismaïla"]
listes_commencant_par_une_voyelle(liste_chaines)

['apple', 'Ananas', 'Algèbre', 'Urologie', 'Ismaïla']

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67
```

In [127]:
set_1 = {23,45, 56, 98}
set_2 = {56, 98, 2, 4}
set_1.intersection(set_2)

{56, 98}

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68
```

In [128]:
def applatir_liste_imbriquee(liste_imbriquee): # liste_imbriquee := liste_de_listes
    liste = []
    for i in liste_imbriquee:
        for j in i:
            liste.append(j)
    return liste


# Example teste

liste_imbriquee = [[1,2], [3,4], [5,6]]
applatir_liste_imbriquee(liste_imbriquee)

[1, 2, 3, 4, 5, 6]

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69
```

In [135]:
def teste_elements_uniques_liste(liste):
    a = 0
    for i in liste:
        if liste.count(i) >= 2:
            a += 1
    if a != 0:
        print("Tous les éléments de la liste ne sont pas uniques.")
    else:
        print("Tous les éléments de la liste sont uniques.")

# Example teste

liste_1 = [2, 3, 45, 56]
teste_elements_uniques_liste(liste_1)
print("\n=======================\n")
liste_2 = [2, 3, 45, 56, 2, 3]
teste_elements_uniques_liste(liste_2)

Tous les éléments de la liste sont uniques.

=======================

Tous les éléments de la liste ne sont pas uniques.

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70
```

In [146]:
from functools import reduce

liste = [2,3,4,5]
resultat_produit_elements = reduce(lambda x,y: x * y, liste)
resultat_produit_elements

120

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71
```

In [149]:
def creation_dictionnaire(liste_chaine):
    dict_element_liste_longueure = {}
    for i in liste_chaine:
        dict_element_liste_longueure[i] = len(i)
    return dict_element_liste_longueure

# Example teste
liste_chaine = ["apple", "banana", "apple", "cherry"]
creation_dictionnaire(liste_chaine)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72
```

In [150]:
chaine = "Les codeurs d'AIMS"
chaine_voyelles = "iuoaey"
a = 0
for i in chaine:
    if i.lower() in chaine_voyelles:
        a += 1
print(f"Ls chaine \"{chaine}\" a {a} voyelle(s)")

Ls chaine "Les codeurs d'AIMS" a 6 voyelle(s)

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73
```

### Answer Exercise 73: this exercise is badly posed

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74
```

In [151]:
mon_liste_dict = [{"a": 12, "b": 34, "c": 38}, {"e": 12, "f": 374, "g": 8}, {"h": 12, "i": 34, "j": 8}]
mon_dict = {}
for i in mon_liste_dict:
    mon_dict.update(i)
mon_dict

{'a': 12,
 'b': 34,
 'c': 38,
 'e': 12,
 'f': 374,
 'g': 8,
 'h': 12,
 'i': 34,
 'j': 8}

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75
```

In [156]:
def verif_sous_ensemble(sous_ensemble, ensemble):
    if sous_ensemble.issubset(ensemble) == True:
        print(f"{sous_ensemble} est un sous-ensemble de {ensemble}")
    else:
        print(f"{sous_ensemble} n'est pas un sous-ensemble de {ensemble}")
     

# Example teste

ensemble = {1,2,3}
sous_ensemble = {1,3}
verif_sous_ensemble(sous_ensemble, ensemble)

{1, 3} est un sous-ensemble de {1, 2, 3}

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76
```

In [190]:
def trie_liste_tuples(liste_tuples):
    liste = []
    for i in liste_tuples:
        liste.append(i[1])
    liste_1 = sorted(liste)
    liste_2 = []
    for i in liste_1:
        if i not in liste_2:
            liste_2.append(i)
    liste_trier = []
    for i in liste_2:
        for j in liste_tuples:
            if j[1] == i:
                liste_trier.append(j)  
    return liste_trier

# Example teste

liste_tuples = [(1,34), (3,12), (6,0), (3,12)]
trie_liste_tuples(liste_tuples)

[(6, 0), (3, 12), (3, 12), (1, 34)]

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77
```

In [177]:
def entiesr_positifs_liste(liste):
    liste_1 = [i for i in liste if i > 0]
    return liste_1

# Example teste

liste = [2, -4, 56, 7, -9]
entiesr_positifs_liste(liste)

[2, 56, 7]

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78
```

In [180]:
def union_ensemble(set_1, set_2):
    return set_1.union(set_2)

# Example teste

set_1 = {23,45, 56, 98}
set_2 = {56, 98, 2, 4}
union_ensemble(set_1, set_2)

{2, 4, 23, 45, 56, 98}

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79
```

In [181]:
def produit_elements_liste(liste):
    a = 1
    for i in liste:
        a *= i
    return a

# Example teste

liste = [2 , 4, 8]
produit_elements_liste(liste)

64

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80
```

In [182]:
def liste_caracteres_vers_chaine_caracteres(liste_caracteres):
    chaine = "".join(liste_caracteres)
    return chaine

# Example teste

liste_caracteres = ["A", "I", "M", "S"]
liste_caracteres_vers_chaine_caracteres(liste_caracteres)

'AIMS'

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81
```

In [185]:
liste = [23, 45, 6, 8, 90, 345]
liste = sorted(liste)
liste[-2]

90

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82
```

In [186]:
def ord_cles_dict(dictionnaire):
    liste_cles = []
    for i in dictionnaire.keys():
        liste_cles.append(i)
    liste_cles.sort()
    return liste_cles

# Example teste

dictionnaire = {"b": 34, "c": 38, "a": 12}
ord_cles_dict(dictionnaire)

['a', 'b', 'c']

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83
```

### Exercise 83: problem badly posed

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84
```

In [189]:
def trie_liste_tuples_1(liste_tuples):
    liste = []
    for i in liste_tuples:
        liste.append(i[0])
    liste_1 = sorted(liste)
    liste_2 = []
    for i in liste_1:
        if i not in liste_2:
            liste_2.append(i)
    liste_trier = []
    for i in liste_2:
        for j in liste_tuples:
            if j[0] == i:
                liste_trier.append(j)  
    return liste_trier

# Example teste

liste_tuples = [(1,34), (3,12), (6,0), (3,12)]
trie_liste_tuples_1(liste_tuples)

[(1, 34), (3, 12), (3, 12), (6, 0)]

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

In [191]:
def suppr_doublon_liste_dict(liste_dict):
    liste = []
    for i in liste_dict:
        if i not in liste:
            liste.append(i)
    return liste

# Example teste

liste_dict = [(1, 34), (3, 12), (3, 12), (6, 0)]
suppr_doublon_liste_dict(liste_dict)

[(1, 34), (3, 12), (6, 0)]

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86
```

In [192]:
def minimum_et_maximum_liste(liste):
    liste_1 = sorted(liste)
    return [liste_1[0], liste_1[-1]]


# Example teste

liste = [23, 4, 45, 67, 12]
minimum_et_maximum_liste(liste)

[4, 67]

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87
```

In [194]:
liste_1 = [23, 4, 45, 67, 12]
liste_2 = [3, -1, -5, 0, 3]
liste_tuples = []
for i in range(len(liste_1)):
    liste_tuples.append((liste_1[i], liste_2[i]))

liste_tuples

[(23, 3), (4, -1), (45, -5), (67, 0), (12, 3)]

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88
```

In [196]:
def inverse_liste_chaines(liste_chaines):
    liste = []
    for i in range(1, len(liste_chaines) + 1):
        liste.append(liste_chaines[-i])
    return liste

# Example teste

liste_chaines = ["Programmeur", "Mathématicien", "Pentesteur", "Hackeur"]
inverse_liste_chaines(liste_chaines)

['Hackeur', 'Pentesteur', 'Mathématicien', 'Programmeur']

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89
```

In [199]:
def somme_nombres_impairs_liste(liste):
    return sum([i for i in liste if i%2 != 0]) 

# Example test

liste = [1,2,4,5,9,7,37]
somme_nombres_impairs_liste(liste)

59

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90
```

In [201]:
def palindrome(mot):
    mot_1 = mot[::-1]
    if mot.lower() == mot_1.lower():
        print(f"{mot} est un palindrome")
    else:
        print(f"{mot} n'est pas un palindrome")

### Teste

mot = "Matam"
palindrome(mot)

Matam est un palindrome

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91
```

In [205]:
def mediane_liste_nombres(liste_nombres):
    liste = sorted(liste_nombres)
    if len(liste) % 2 == 0:
        print(liste)
        mediane = (liste[len(liste)//2 - 1] + liste[len(liste)//2]) / 2
        return mediane 
    else:
        print(liste)
        mediane = liste[len(liste)//2 + 1]
        return mediane


## Tese

liste_nombres = [3, 11, 7, 2, 5, 9, 2, 10]
mediane_liste_nombres(liste_nombres)

[2, 2, 3, 5, 7, 9, 10, 11]

6.0

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92
```

In [217]:
def sum_valeurs_cles_dict(liste_dict):
    liste_cles = []
    for i in liste_dict:
        for j in i.keys():
            if j not in liste_cles:
                liste_cles.append(j)
                
    mon_dict = {}
    for i in liste_cles:
        a = 0
        for dictionnaire in liste_dict:
            if i in dictionnaire.keys():
                a += dictionnaire[i]
        mon_dict[i] = a
    return mon_dict


### Teste

liste_dict = [{"a": 12, "b": 34, "c": 38}, {"a": 12, "b": 34, "c": 38, "d": 45}, {"a": 12, "b": 34, "c": 38}]
sum_valeurs_cles_dict(liste_dict)

{'a': 36, 'b': 102, 'c': 114, 'd': 45}

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93
```

In [224]:
liste = [2,3,4,4,4,5,5,5,5,6,2,3,4]

liste_1 = [liste.count(i) for i in liste]
liste_2 = list(set(sorted(liste_1)))
liste_3 = list(set(sorted(liste)))
mode_liste = [i for i in liste_3 if liste.count(i) == liste_2[-1]]
mode_liste

[4, 5]

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94
```

In [226]:
def somme_carre_element_liste(liste_nombres):
    somme = sum([i**2 for i in liste_nombres])
    return somme

# TESTE

liste_nombres = [2, -4, 3]
somme_carre_element_liste(liste_nombres)

29

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95
```

In [1]:
liste = [(i, i**3) for i in range(1, 6)]
liste

[(1, 1), (2, 8), (3, 27), (4, 64), (5, 125)]

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96
```

In [3]:
def is_prime(nombre):
    a = 0
    for i in range(2, nombre):
        if nombre % i == 0:
            a += 1
    if a == 0:
        return 1 # Le paramètre de la fonction est un nombre premier.
    else:
        return 0 # Le paramètre de la fonction n'est pas un nombre premier.

############################################

def les_n_nombres_premiers(n):
    liste_nombres_premiers = []
    a = 2
    while len(liste_nombres_premiers) != n:
        if is_prime(a) == 1:
            liste_nombres_premiers.append(a)
            a += 1
        else:
            a += 1
    return liste_nombres_premiers


# TESTE

n = 12
les_n_nombres_premiers(n)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97
```

In [4]:
def cles_communs_deux_dicts(dict_1, dict_2):
    liste_cles_communs = []
    for i in dict_1.keys():
        if i in dict_2:
            liste_cles_communs.append(i)
    return liste_cles_communs

## Teste

dict_1 = {"a": 34, "b": 304, "c": 134, "d": 3, "e": 0, "f": -12}
dict_2 = {"a": -2, "b": 12, "e": 40, "f": 12}
cles_communs_deux_dicts(dict_1, dict_2)

['a', 'b', 'e', 'f']

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98
```

In [5]:
def renvoie_liste_chaines_plus_de_5_caracteres(liste_chaines):
    liste_chaines_plus_de_5_caracteres = []
    for i in liste_chaines:
        if len(i) > 5:
            liste_chaines_plus_de_5_caracteres.append(i)
    return liste_chaines_plus_de_5_caracteres

## Teste

liste_chaines = ["Programmeur", "Pentesteur", "Pi", "Maths", "Python"]
renvoie_liste_chaines_plus_de_5_caracteres(liste_chaines)

['Programmeur', 'Pentesteur', 'Python']

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [1]:
liste_chaines = ["Programmeur", "Pentesteur", "Pi", "Maths", "Python"]
liste_tuples = []
for i in liste_chaines:
    liste_tuples.append((i, len(i)))
print(liste_tuples)

[('Programmeur', 11), ('Pentesteur', 10), ('Pi', 2), ('Maths', 5), ('Python', 6)]

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

In [28]:
def fonction_dict(liste_dict):
    liste_valeurs_cles_des_dicts = []
    for dictionnaire in liste_dict:
        for j in dictionnaire.values():
            liste_valeurs_cles_des_dicts.append(j)

    liste_finale = []
    for dictionnaire in liste_dict:
        dict_final = {}
        for cle in dictionnaire.keys():
            dict_final[cle] = dictionnaire[cle] + sum(liste_valeurs_cles_des_dicts)
        liste_finale.append(dict_final)
    return liste_finale

    
# Teste

liste_dict = [{"a": 1, "b": 1, "c": 1, "d": 1, "e": 1, "f": 1}, {"a": 1, "b": 1, "e": 1, "f": 1}]
fonction_dict(liste_dict)

[{'a': 11, 'b': 11, 'c': 11, 'd': 11, 'e': 11, 'f': 11},
 {'a': 11, 'b': 11, 'e': 11, 'f': 11}]