

# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

In [ ]:
x = 10

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

In [ ]:
is_valid = True
is_valid

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

In [ ]:
name = "Python programmung"
name

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

sum_result = 5 + 3

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

In [ ]:
a, b, c = 5, 10, 15
print(a)
type(a)
print(b)
type(b)
print(c)
type(c)

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

In [ ]:
gravity = 9.8
print(gravity)
type(gravity)

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

In [ ]:
country = "Senegal"
print(country)
type(country)

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

In [ ]:
age = 25
age = 26
print(age)

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

In [ ]:
nombre = 20 - 7
print(nombre)

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

In [ ]:
number_int = 23
number_float = 0.78
print(number_int)
print(number_float)

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

In [ ]:
is_completed = False
print(is_completed)

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

In [17]:
number_1 = 34
number_2 = 2


print("============= Value of number_1 and number_2 before exchange  =============")
print("")
print("number_1 = {}".format(number_1))
print("number_2 = {}".format(number_2))

number_tampon = number_1
number_1 = number_2
number_2 = number_tampon

print("")
print("============= Value of number_1 and number_2 after exchange  =============")
print("")
print("number_1 = {}".format(number_1))
print("number_2 = {}".format(number_2))

============= Value of number_1 and number_2 before exchange  =============

number_1 = 34
number_2 = 2

============= Value of number_1 and number_2 after exchange  =============

number_1 = 2
number_2 = 34

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

In [18]:
complex_num = 3 + 4j
print(complex_num)
type(complex_num)

(3+4j)

complex

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

In [19]:
number_int = 345
number_string = str(number_int)
print(number_string)
type(number_string)

345

str

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

In [22]:
first_name = "Malamine"
last_name = "SANE"
print(first_name)
print(last_name)

print(first_name, type(first_name))
print(last_name, type(first_name))

Malamine
SANE
Malamine <class 'str'>
SANE <class 'str'>

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

In [23]:
temperature = 35.5
print(temperature, type(temperature))

35.5 <class 'float'>

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

In [24]:
product = 8 * 6
print(product, type(product))

48 <class 'int'>

In [ ]:
### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

In [25]:
sentence = "Les programmeurs d'AIMS"
print(sentence, type(sentence))

Les programmeurs d'AIMS <class 'str'>

In [ ]:
### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

In [26]:
int_string = "50"
int_value = int(int_string)
print(int_value, type(int_value))

50 <class 'int'>

In [ ]:
### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

In [27]:
quotient = 144/12
print(quotient, type(quotient))

12.0 <class 'float'>

In [ ]:
### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

In [ ]:
remainder = 47%5

In [ ]:
### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

In [28]:
is_student = True
print(is_student, type(is_student))

True <class 'bool'>

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

In [29]:
reste = 45 % 4
print(reste)

1

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

In [ ]:
pi = 3.14159
print(pi, type(pi))

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

In [30]:
length = 34
width = 12
area = length * width

print("The area of a rectangle is {}".format(area))

The area of a rectangle is 408

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

In [ ]:
negative_value = -12
printa(negative_value, type(negative_value))

In [ ]:
---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

In [31]:
greeting = "Why programme ?"
print(greeting, type(greeting))

Why programme ? <class 'str'>

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

In [33]:
population = 123456978243968
print(population)
type(population)

123456978243968

int

In [ ]:
---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

In [ ]:
number = 2**8
print(number)
type(number)

In [ ]:
---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

In [ ]:
fruits = ["Banane", "pomme", "orange", "poire", "pasteque"]

In [ ]:
---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

In [34]:
coordinates = (23, 45, 12)
print(coordinates)
type(coordinates)

(23, 45, 12)

tuple

In [ ]:
---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

In [38]:
person = {"name": "Malamine", "age": 28}
type(person)

dict

In [ ]:
---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

In [ ]:
number_float = 23.4 + 6.2
print(number_float)
type(number_float)

In [ ]:
---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

In [ ]:
is_sunny = 10 > 5
print(is_sunny)
type(is_sunny)

In [ ]:
---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

In [39]:
my_string = "Les programmeurs d'élite de AIMS"
number = 34

print(my_string, number)

Les programmeurs d'élite de AIMS 34

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

In [42]:
number = 12
number = True
print(number)

True

In [ ]:
---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

In [43]:
is_weekend = False
print(is_weekend)
type(is_weekend)

False

bool

In [ ]:
---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

In [46]:
description = "La programmation \
la science \
par excellence"

print(description)
type(description)

La programmation la science par excellence

str

In [ ]:
---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

In [47]:
number = -25
absolu = abs(number)
print(absolu)

25

In [ ]:
---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

In [49]:
floor_div_result = 100//6
print(floor_div_result)
type(floor_div_result)

16

int

In [ ]:
---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

In [50]:
mixed_sum = 34.2 + 3
print(mixed_sum)
type(mixed_sum)

37.2

float

In [ ]:
---


### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 43
```

In [51]:
a = 10
b = 15
booleen = b > a
print(booleen)
type(booleen)

True

bool

In [ ]:
---

### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 44
```

In [54]:
sentence = "La cryptographie"
print("La chaine \"{}\" a {} caractères.".format(sentence, len(sentence)))

La chaine "La cryptographie" a 16 caractères.

In [ ]:
---

### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 45
```

In [55]:
division_result = 7 / 3
print(division_result)
type(division_result)

2.3333333333333335

float

In [ ]:
---

### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 46
```

In [ ]:
speed = 100

In [ ]:
---

### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 47
```

In [56]:
x = 4
y = 3*x + 5
print(x, y)
print(type(x)), type(y)

4 17
<class 'int'>

(None, int)

In [ ]:
---

### Exercise 48:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 48
```

In [57]:
a = 23
b = 45
c = 77
moyenne = (a + b + c)/3
print(moyenne)
type(moyenne)

48.333333333333336

float